<h1>Questions</h1>

<div class="questionsText">
  <b>Note: this test is set to be a 'predefined' test, whice means:</b>
  <ul>
    <li>All the questions that yue select here will be included in the test</li>
    <li>All respondets will receive the SAME set of questions, presented in a different order</li>
  </ul>
  <hr>
  <b>Select the questins that you want to include in the test</b>
  <p>You can use the tag filter to narrow down the list to a specific subject, don't worry, filtering won't affect your
    previeus selections</p>
</div>

<div class="filterContainer">
  <mat-form-field>
    <input class="myInput" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by tag or content">
  </mat-form-field>
</div>

<div class="tableContainer">

  <table mat-table [dataSource]="questionsList" class="mat-elevation-z8">

    <ng-container matColumnDef="Content">
      <th mat-header-cell *matHeaderCellDef>Title </th>
      <td mat-cell *matCellDef="let element">
        {{element.Content}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Show">
      <th mat-header-cell *matHeaderCellDef> Show question. </th>
      <td class="myInput" mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary">
          <app-show-question [question]="element"></app-show-question>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="cursor: pointer" [class.selected]="row.IsSelected" (click)="onSelect(row)" mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
