.questionsText  {
    margin: 25px;
  }

  hr {
    border-top: 1px solid #b8bdc0;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .tableContainer{
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 20px;
    background-color: #fff;
    
  }



  .filterContainer{
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 20px;
    background-color: #fff;
    padding-left: 24px;
    
  }

  button{
    line-height: 30px;
  }

  .myInput{
    width: 20px;
  }
  .selected{
    background-color: rgb(168,222,172);
  }

 