<form (ngSubmit)='addQuestion()' #registerForm="ngForm" role="form">
    <div class="container">
        <div class="row">
            <div class="col-25">
                <label for="fname">Question Type:</label>
            </div>
            <div class="col-75">
                <select>
                    <option *ngFor="let option of options">{{option}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="ques_text">Question Text:</label>
            </div>
            <div class="col-75">
                <textarea id="ques_text" name="subject" placeholder="Write something.." style="height:100px"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="text_below_ques">Text blow question:</label>
            </div>
            <div class="col-75">
                <textarea id="text_below_ques" name="subject" placeholder="Write something.."
                    style="height:150px"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="text_below_ques">Text blow question:</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
        <hr>
        <!-- This conteiner is for the question adding -->
        <div class="row">
            <label *ngIf="answersNotEmpty">Checked for correct answer:
                <mat-selection-list>
                    <mat-list-option *ngFor="let answer of answers">
                        <label>Answer Content:
                            <textarea [(ngModel)]="answer.Text" name="subject"
                                style="height:40px; width:750px;"></textarea>
                        </label>
                    </mat-list-option>
                </mat-selection-list>
            </label>
            <button (click)="addQuestion()" style="height:40px; width:200px;">Add an answer</button>
            <div *ngIf="textEmpty">
                <div class="alert alert-danger">
                    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                </div>
            </div>
        </div>
    </div>
</form>
<div>{{answer.IsCorrect}}</div>