<form #testForm="ngForm">

  <!-- <div>{{testForm.value | json}}</div>
  <div>{{testModel | json}}</div> -->


  <div class="testContainer">
    <div class="testDetailsContainer">
      <h1>Genral test details</h1>
      <div>Field of study: <b>development</b></div>

      <mat-form-field>
        <mat-select placeholder="Language" name="languages" [(ngModel)]="testModel.Language">
          <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Test name" name="testName" [(ngModel)]="testModel.Name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Passing grade" name="PassingGrade" [(ngModel)]="testModel.PassingGrade" required>
      </mat-form-field>

      <mat-checkbox name="ShowAnswers" [(ngModel)]="testModel.ShowAnswers">Show correct answers after submission
      </mat-checkbox>

      <mat-form-field>
        <textarea matInput placeholder="Header content" name="HeaderContent" [(ngModel)]="testModel.HeaderContent"
          required></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Text success" name="TextSuccess" [(ngModel)]="testModel.TextSuccess"
          required></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Text failure" name="TextFailure" [(ngModel)]="testModel.TextFailure"
          required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="certificate" name="certificate" [(ngModel)]="testModel.CertificateURL">
          <mat-option *ngFor="let c of certificates" [value]="c">{{c}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="testDetailsContainer">
      <h1>Email delivery upon test completion</h1>
     
      <div class="emeilArea">
        <div>Current status: <b [ngClass]="email.valid? 'on' : 'off'">{{email.valid? 'on':'off'}}</b></div>

        <b>Email Delivery Upon Test Completion</b>
        <div>to torn on email delivery, fill out the mandatory fields in this section</div>

        <mat-form-field>
          <input matInput placeholder="from" name="CreatorEmail" [(ngModel)]="testModel.CreatorEmail" #email="ngModel"
            required>
        </mat-form-field>
      </div>

      <b class="boundaryLine">Passing the test</b>

      <mat-form-field>
        <input matInput placeholder="Subject success text" name="SubjectSuccessText"
          [(ngModel)]="testModel.SubjectSuccessText" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Subject success body" name="SubjectSuccessBody"
          [(ngModel)]="testModel.SubjectSuccessBody" required></textarea>
      </mat-form-field>

      <b> Predefined templates - click to copy to clipboard</b>

      <div class="template">
        <input *ngFor="let i of templates; let ind = index" type="text" (click)="copy($event)" readonly="readonly"
          value={{i+ind}} #test+ind />
      </div>

      <b class="boundaryLine">Failing the test</b>

      <mat-form-field>
        <input matInput placeholder="Subject failure text" name="SubjectSuccessText"
          [(ngModel)]="testModel.SubjectSuccessText" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Subject failure body" name="SubjectFailureBody"
          [(ngModel)]="testModel.SubjectFailureBody" required></textarea>
      </mat-form-field>

      <b> Predefined templates - click to copy to clipboard</b>

      <div class="template">
        <input *ngFor="let i of templates; let ind = index" type="text" (click)="copy($event)" readonly="readonly"
          value={{i+ind}} #test+ind />
      </div>

      <!-- <input type="text" (click)="copy()" readonly="readonly" value="Text to copy" #test /> -->

    </div>
  </div>
</form>






<!-- <span>{{email.valid? 'on':'off'}}</span> -->
<!-- <span *ngIf="email.valid">off</span>
      <span *ngIf="!email.valid">on</span>

      
      <span *ngIf="email.valid; else on">off</span>
      <ng-template #on>
        <span *ngIf="!email.valid">on</span>
      </ng-template> -->