<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/Home" routerLinkActive="active" class="navbar-brand" href="#">Testing System</a>
            </div>
            <ul class="nav navbar-nav">
                <li routerLink="/Home" routerLinkActive="active" class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/Register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a routerLink="/Login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
