<mat-table [dataSource]='dataSource'>

    <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let questionEdit">{{questionEdit.Id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Text&Tags">
        <mat-header-cell *matHeaderCellDef>Question text and Tags</mat-header-cell>
        <mat-cell *matCellDef="let questionEdit">{{questionEdit.Tags}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastUpdate">
        <mat-header-cell *matHeaderCellDef>Last update</mat-header-cell>
        <mat-cell *matCellDef="let questionEdit">{{questionEdit.LastUpdate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="QuestionType">
        <mat-header-cell *matHeaderCellDef>Question type</mat-header-cell>
        <mat-cell *matCellDef="let questionEdit">{{questionEdit.QuestionType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="OfTest">
        <mat-header-cell *matHeaderCellDef>#of Test</mat-header-cell>
        <mat-cell *matCellDef="let questionEdit"><a>{{questionEdit.TestId}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let questionEdit"><a>{{questionEdit.TestId}}</a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

</mat-table>